[submodule "app1"]
	path = app1
	url = https://github.com/NiladriPadhy/app1.git
[submodule "app2"]
	path = app2
	url = https://github.com/NiladriPadhy/app2.git
[submodule "app3"]
	path = app3
	url = https://github.com/NiladriPadhy/app3.git
